body, h1, h2, p{
  margin: 0px;
  padding: 0px;
  border: 0px;
  font-family: "Roboto";
  font-weight: 300;
}

.form-screen {
  position: absolute;
  width: 100%;
  background-image: linear-gradient(180deg, #8C22FF 15%, #F0E1FF 15%, #F0E1FF 100%);
}

.user-card {
  position: relative;
  padding-bottom: 30px;
  margin: 20px 20px;
  margin-bottom: 50px;
  border-radius: 7px;
  background-color: white;
}

.development-time-card {
  padding-bottom: 30px;
  margin: 5px 20px;
  margin-bottom: 50px;
  border-radius: 7px;
  background-color: white;
}

.programming-languages-card {
  padding-bottom: 30px;
  margin: 5px 20px;
  margin-bottom: 50px;
  border-radius: 7px;
  background-color: white;
}

.do-you-like-card {
  padding-bottom: 30px;
  margin: 5px 20px;
  margin-bottom: 40px;
  border-radius: 7px;
  background-color: white;
}

.purple-line {
  height: 14px;
  border-radius: 7px 7px 0px 0px;
  background-color: #B770FF;
}

.card-content {
  padding-left: 3vh;
}

.title {
  padding-top:26px; 
  padding-bottom: 15px;
}

.warning {
  padding-top: 24px;
  padding-bottom: 32px;
  color: red;
}

strong {
  color: red;
}

h2 {
  padding: 16px 0px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 20px;
}

Input {
  padding: 6px 10px;
  color: #121212;
  outline: none;
  border: none;
  border-bottom: 2px solid lightgray;
  transition: color 0.2s ease-in-out;
}

input:focus {
  border-bottom: 2px solid #8C22FF;
}

button {
  display: block;
  padding: 10px 16px;
  margin: 15px 0px;
  text-align: center;
  color: white;
  border: none;
  border-radius: 7px;
  background-color: #8C22FF;
}

button:disabled {
  color: #9B9B9D;
  background-color: #7233AE;
}

.content-send {
  padding-left: 27px;
}
